.flex {
  background-color: #00C7CE;
  height: 50vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex > div {
  background-color: #FFF;
  margin: 5px;
  font-size: 30px;
}